
.btn{
  float: left;
  align-self: center;
}
.btn-sm {
  padding: 3px 12px;
  font-size: 12px;
  line-height: 20px;}
.btn-with-count {
  color: #24292e;
  background-color: #fafbfc;
  box-shadow: 0 1px 0 rgba(27,31,35,.04), inset 0 1px 0 hsla(0,0%,100%,.25);
  transition: background-color .2s cubic-bezier(.3,0,.5,1);
  user-select: none;
  border: 1px solid rgba(27,31,35,.15);
  appearance: none;
  cursor: pointer;
  font-weight: 500;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 6px 0 0 6px;
}
.btn-list_item{
  float:left;
  margin:2px 10px 20px 9px;;
  font-size: 11px;
  color: #24292e;
  list-style-type: none;
  display: list-item;
}
.social-count{
  position: relative;
  float: left;
  padding: 3px 12px;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid rgba(27,31,35,.15);
  border-left: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 1px 0 rgba(27,31,35,.04), inset 0 1px 0 hsla(0,0%,100%,.25);
  text-decoration: none;
  cursor: pointer;
}

