@import"mixins";
@import "fonts";
@import"variables";


.revolutionary-editor{
 display: flex;
}
.revolutionary-editor__inner{
  margin-bottom: 100px;
}
.revolutionary__head{
  text-align: -webkit-center;
}
.revolutionary__title {
  @include mainFontTitle;
  width: 308px;
  height: 46px;
  font-weight: bold;
  font-size: 26px;
  line-height: 28px;
  display: flex;
  text-align: center;
  text-transform: uppercase;
  color: #635C73;
  margin-top: 79.5px;
  margin-bottom: 27px;

}
.revolutionary__text{
  @include fontDescription;
  width: 276px;
  height: 74px;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  text-align: -webkit-center;
  margin-bottom: 36px;
}
.btns-revolutionary{
  height: 72px;
  justify-content: center;
  display: flex;
}

@media screen and (min-width: 481px){
  .revolutionary-editor__inner{
    width: 768px;
  }
  .revolutionary__title{
    font-size: 42px;
    line-height: 42px;
    width: 599px;
    justify-content: center;
  }
  .revolutionary__text{
    font-size: 21px;
    line-height: 32px;
    width: 861px;
    font: $descriptionFont;
    color: #323232;
  }
}


@media screen and (min-width: 993px){
  .revolutionary-editor__inner{
    width: 100%;
  }
  .revolutionary__title{
    font-size: 54px;
    line-height: 54px;
    width: 861px;
    justify-content: center;
  }
  .revolutionary__text{
    font-size: 21px;
    line-height: 32px;
    width: 861px;
  }
}





.part-get{
  background-color: #f4f4f4;
  overflow: hidden;
  margin-bottom: 33px;

  &__title {
    color:  #8d81ac;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 60px;
    text-align: center;
  }
}

.part-get__title::before{
    content: "<";
    color: #8D81AC;
    margin-right: -12px;
  }
  .part-get__title::after{
    content: ">";
    color: #8D81AC;
    margin-left: -12px;
    }

.offer__item{
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 35px;
}
.offer_img-container{
  min-width: 110px;
  height: 84px;
  margin-bottom: 20px;
    &__img{
      display: block;
      margin: 0 auto;
    }
}
.offer__text{
  margin-left: 20px;
  &__title{
    margin-bottom: 17px;
    color:  #323232;
    font-size: 16px;
    font-weight: 400;
  }
  &__description{
    text-align: justify;
    color:  #848e97;
    font-size: 14px;
    font-weight: 400;
  }
}
.offer__description{
  font-size: 14px;
  line-height: 21px;
   color: #848E97;
   margin-top: 14px;
}
.editor-img__item{
  width: 100vw;

}





@media  screen and (max-width: 480px) {
  .part-get .offer__item {
    flex-direction: column;
    text-align: center;

    &__title {
      margin-top: 23px;
      margin-bottom: 23px;
      text-align: center;
    }
    &__description{
      font-size: 14px;
      line-height: 21px;
      color: #848E97;
    }
  }
}
@media only screen and (min-width: 993px) {
  .part-get {
    height: 700px;

    &__title {
      display: inline-block;
      font-size: 4vw;
      position: relative;
      left: 50%;
      top: 80px;
    }
    .offer__item {
      width: 41%;
      margin-left: 50px;
    }
    .editor-img__item {
      width: 55vw;
      position: relative;
      left: 50%;
      bottom: 440px;
    }
  }
}
